---
layout: default
title: About
---

<h1>Contact</h1>
<div style="text-align: center;"><a href="https://www.twitter.com/kyanite_mods" class="twitter-button"></a> <a href="https://discord.gg/GDNRd5yvxa" class="discord-button"></a> <a href="mailto: kyanitemods@gmail.com" class="email-button"></a></div>
<h1>Team</h1>
<div style="text-align: center;">{% include team-member.html src="/assets/team-members/angxdd.png" name="angxdd" discord="ang#3849" role="Mod Developer" %}{% include team-member.html src="/assets/team-members/JustJussi.png" name="JustJussi" discord="JustJussi#1498" role="Artist" %}</div>
<div style="text-align: center;">{% include team-member.html src="/assets/team-members/NewJumperr.png" name="NewJumperr" discord="NewJumper#9975" role="Project Coordinator" %}{% include team-member.html src="/assets/team-members/nitro_dynamite18.png" name="nitro_dynamite18" discord="nitro_dynamite18#1848" role="Translation Manager" %}</div>
<div style="text-align: center;">{% include team-member.html src="/assets/team-members/pr_ib.png" name="pr_ib" discord="AndroidDr#5127" role="Web Developer" %}</div>
<h1>Contributors</h1>
<img src="{{ site.baseurl }}/assets/contributors/Kaupenjoe.png" style="width: 16px; image-rendering: pixelated;"><span style="vertical-align: 2px;"> Kaupenjoe (Kaupenjoe#2306) • Support</span><br>
<img src="{{ site.baseurl }}/assets/contributors/mineblock11.png" style="width: 16px; image-rendering: pixelated;"><span style="vertical-align: 2px;"> mineblock11 (mineblock11#1878) • Former Team Member (Mod Developer)</span><br>
<img src="{{ site.baseurl }}/assets/contributors/Rotch_Gwylt.png" style="width: 16px; image-rendering: pixelated;" class="minecraft-item" data-mctitle="<span class='minecraft-emoji'>Y</span>"><span style="vertical-align: 2px;"> Rotch_Gwylt (Rotch Gwylt#6265) • Composer</span><br>
<img src="{{ site.baseurl }}/assets/contributors/SockMan3288.png" style="width: 16px; image-rendering: pixelated;"><span style="vertical-align: 2px;"> SockMan3288 (garterSnake()#4502) • Former Team Member (Artist)</span><br>
<img src="{{ site.baseurl }}/assets/contributors/YeoXuHang0722.png" style="width: 16px; image-rendering: pixelated;"><span style="vertical-align: 2px;"> YeoXuHang0722 (YeoXuHang#1622) • Deeper And Darker Logo</span>