@font-face {
	font-family: 'Minecraft';
	src: url("assets/Minecraft-Font/Minecraft.eot?") format("embedded-opentype"),
	     url("assets/Minecraft-Font/Minecraft.ttf") format("truetype"),
		 url("assets/Minecraft-Font/Minecraft.woff") format("woff"),
		 url("assets/Minecraft-Font/Minecraft.woff2") format("woff2");
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Regular-102.eot?") format("embedded-opentype"),
	     url("assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Regular-102.woff2") format("woff2"),
		 url("assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
		 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Bold-102.eot?") format("embedded-opentype"),
	     url("assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Bold-102.woff2") format("woff2"),
		 url("assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Bold-102.svg") format("svg");
		 
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-BoldItalic-102.eot?") format("embedded-opentype"),
	     url("assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102.woff2") format("woff2"),
		 url("assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg") format("svg");
		 
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url("assets/Atkinson-Hyperlegible-Font/EOT/Atkinson-Hyperlegible-Italic-102.eot?") format("embedded-opentype"),
	     url("assets/Atkinson-Hyperlegible-Font/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
		 url("assets/Atkinson-Hyperlegible-Font/WOFF2/Atkinson-Hyperlegible-Italic-102.woff2") format("woff2"),
		 url("assets/Atkinson-Hyperlegible-Font/SVG/Atkinson-Hyperlegible-Italic-102.svg") format("svg");
		 
	font-weight: normal;
	font-style: italic;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#main-page-header-static {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url('assets/sculk_background_64x.png');
  background-size: 64px;
  text-align: center;
  color: #ffffff;
  font-family: 'Minecraft';
  font-size: 300%;
  text-shadow: 0.125em 0.125em #3f3f3f;
  padding: 20px 0;
  padding-bottom: 30px;
}

h1 {
	font-family: 'Minecraft';
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	width: 100%;
	font-weight: normal;
	text-shadow: 0.05em 0.05em #000000;
}

h2 {
	font-family: 'Minecraft';
	font-size: 30px;
	color: #ffffff;
	text-shadow: -0.1em -0.1em #000000, 0 -0.1em #000000, 0.1em -0.1em #000000, -0.1em 0 #3f3f3f, 0.1em 0 #000000, -0.1em 0.1em #000000, 0 0.1em #000000, 0.1em 0.1em #000000;
	text-transform: uppercase;
	-webkit-font-smoothing: none;
}

h4 {
	font-family: 'Minecraft';
	font-size: 20px;
	color: #ffffff;
	text-shadow: -0.1em -0.1em #000000, 0 -0.1em #000000, 0.1em -0.1em #000000, -0.1em 0 #3f3f3f, 0.1em 0 #000000, -0.1em 0.1em #000000, 0 0.1em #000000, 0.1em 0.1em #000000;
	text-transform: uppercase;
	-webkit-font-smoothing: none;
}

.main-page-mod-description {
	font-family: 'Atkinson Hyperlegible';
	color: #ffffff;
	font-size: 20px;
	margin-left: 10px;
	padding-left: 10px;
}

.slot-item {
  image-rendering: pixelated;
  width: 32px;
  z-index: 1;
  position: absolute;
}

#item-glow {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: transparent;
  z-index: 3;
  display: none;
}

#item-glow:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#minecraft-tip {
  position: absolute;
  left: 0;
  top: 0;
  border: 0.125em solid #2D0A63;
  border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
  border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
  background-color: rgba(16,0,16,0.94);
  color: #ffffff;
  text-shadow: 0.125em 0.125em 0 #3F3F3F;
  padding: 0.375em;
  font-family: Minecraft,"WenQuanYi Bitmap Song",SimSun,Unifont,NISC18030,Beijing,Courier,sans-serif;
  word-spacing: 0.25em;
  margin: 0.125em 0.25em;
  padding-top: 0;
  padding-bottom: 0.375em;
  line-height: 1.125em;
  z-index: 9999;
  white-space: nowrap;
  display: none;
}

#minecraft-tip br {
  display: block;
  content: "";
  margin-top: 0.25em;
}

#minecraft-tip::before {
  content: '';
  position: absolute;
  top: -0.125em;
  right: -0.250em;
  bottom: -0.125em;
  left: -0.250em;
  border: 0.125em solid rgba(16,0,16,0.94);
  border-style: none solid;
}

#minecraft-tip::after {
  content: '';
  position: absolute;
  top: -0.250em;
  right: -0.125em;
  bottom: -0.250em;
  left: -0.125em;
  border: 0.125em solid rgba(16,0,16,0.94);
  border-style: solid none;
}

body {
	background-color: #555555;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("assets/deepslate_tiles_background_64x.png");
}

/* .main-page-mod-description h4 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

.main-page-mod-description p {
	margin-top: 0;
	margin-bottom: 10px;
}

.main-page-button {
	font-family: 'Minecraft';
	font-size: 20px;
	color: #ffffff;
	text-shadow: -0.1em -0.1em #3f3f3f, 0 -0.1em #3f3f3f, 0.1em -0.1em #3f3f3f, -0.1em 0 #3f3f3f, 0.1em 0 #3f3f3f, -0.1em 0.1em #3f3f3f, 0 0.1em #3f3f3f, 0.1em 0.1em #3f3f3f;
	width: 50%;
	background-color: #9f9f9f;
	border-color: transparent;
	height: 70px;
	line-height: 0;
	transition: .25s ease;
}

.main-page-button:hover {
	background-color: #6f6f6f;
	cursor: pointer;
} */