---
layout: post
title:  "Gloom and Doom"
subtitle: "Deeper and Darker 1.1.0"
permalink: /post/gloom-and-doom

author-image: /assets/logo.png
author: "Kyanite Mods"

links:
  CurseForge: https://curseforge.com/minecraft/mc-mods/deeperdarker
  Modrinth: https://modrinth.com/mod/deeperdarker

header-image: /assets/post-images/bloom_and_doom.png

main-text: |
  Gloom and Doom is a brand new content update that expands the Otherside with brand new content such as biomes, mobs, items and blocks! The update also fixes many bugs.
---

<h2>Overcast Columns</h2>
  <p>Brand new biome, brown and orange palette with some unique blocks:</p>
  <li>{% include minecraft-item.html item-name="Crystallized Amber" item-image="/assets/items/deeperdarker/crystallized_amber.png" %} Crystallized Amber: Found in Gloom pillars.</li>
  <li>{% include minecraft-item.html item-name="Gloom Cactus" item-image="/assets/items/deeperdarker/gloom_cactus.png" %} Gloom Cactus: Similar to the normal cactus but deals twice as much damage.</li>
  <li>{% include minecraft-item.html item-name="Geyser" item-image="/assets/items/deeperdarker/geyser.png" %} Geyser: A brand new transportation block, once stepped on you will be launched into the air and given the slow falling effect.</li>
  <li>{% include minecraft-item.html item-name="Gloom Sculk" item-image="/assets/items/deeperdarker/gloom_sculk.png" %} Gloom Sculk: A brand new sculk block. Acts the exact same as normal sculk but can be bonemealed to spread gloom vegetation.</li>
  <li>{% include minecraft-item.html item-name="Gloomslate" item-image="/assets/items/deeperdarker/gloomslate.png" %} Gloomslate: A new stone type in the biome. Brownish orange color palette. Replaces all sculk stone in overcast columns.</li>

  <p>We have also added 2 new entities:</p>
  <ul>
	<li>Sculk Centipede: Snake like body, passive until attacked. Once attacked, it will alert all other nearby centipedes. (Spawns in the Deeplands)</li>
	<li>???: Always watches, can be found rarely by breaking ancient vases. Be careful...</li>
  </ul>
  
  <p>There are also some other features that we have added in:</p>
  <ul>
	<li>{% include minecraft-item.html item-name="§dSoul Elytra" item-image="/assets/items/deeperdarker/soul_elytra.png" %} Soul Elytra: Powered by the souls, crafted from various different drops in the Otherside. The souls may randomly boost you while flying.</li>
	<li>Texture revamp: Some textures have been revamped (credits to DanielArtist for some textures)</li>
	<li>Entity animation changes: Entities are now more dynamic and can look around. Animations for the Shattered have also been completely reworked.</li>
	<li>Config: Using Kyanite’s brand new config library, Paragon, we have added a configuration file to Deeper and Darker! (This does not add any new dependencies)</li>
	<li>New block variants: Sculk Stone has been given new block variants to match with normal stone blocks.</li>
  </ul>