<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
	<title>Kyanite Mods – {{page.title}}</title>
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
	<meta content="Kyanite Mods – {{ page.title }}" property="og:title" />
	<meta content="Kyanite Mods is a group of modders creating fun experiences for Minecraft: Java Edition!" property="og:description" />
    <meta content="https://kyanitemods.dev" property="og:url" />
    <meta content="/assets/logo.png" property="og:image" />
    <meta content="#3fbff0" data-react-helmet="true" name="theme-color" />
	
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/light_mode_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/light_mode_button.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/dark_mode_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/dark_mode_button.png">
	
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/github_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/youtube_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/twitter_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/email_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/discord_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/curseforge_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/modrinth_button_hover.png">
	<link rel="preload" as="image" href="{{ site.baseurl }}/assets/discord_button_large_hover.png">
  </head>
  <body>
	<div id="minecraft-tip">Tip</div>
	<div id="item-glow" class="minecraft-item"></div>
	<div id="wrapper">
		<div id="topbar">
			<div class="topbar-item"><a class="active" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/menu/home.png" class="topbar-image"> <span class="topbar-text">Home</span></a></div><div class="topbar-item"><a href="{{ site.baseurl }}/mods"><img src="{{ site.baseurl }}/assets/menu/mods.png" class="topbar-image"> <span class="topbar-text">Mods</span></a></div><img src="{{ site.baseurl }}/assets/logo.png" style="text-align: center;" class="topbar-kyanite-logo" alt="Kyanite Mods' Logo"><div class="topbar-item"><a href="{{ site.baseurl }}/contact"><img src="{{ site.baseurl }}/assets/menu/contact.png" class="topbar-image"> <span class="topbar-text">Contact</span></a></div><div class="topbar-item"><a href="{{ site.baseurl }}/news"><img src="{{ site.baseurl }}/assets/menu/news.png" class="topbar-image"> <span class="topbar-text">News</span></a></div><div id="light-mode-button" class="minecraft-item" onclick="toggleDarkMode();" data-mctitle="Switch to Light Mode"></div>
		</div>
		<div id="topbar-small">
			<div class="topbar-item"><a class="active" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/menu/home.png" class="topbar-image"></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/mods"><img src="{{ site.baseurl }}/assets/menu/mods.png" class="topbar-image"></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/contact"><img src="{{ site.baseurl }}/assets/menu/contact.png" class="topbar-image"></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/news"><img src="{{ site.baseurl }}/assets/menu/news.png" class="topbar-image"></a></div>
			<img src="{{ site.baseurl }}/assets/logo.png" class="topbar-kyanite-logo" alt="Kyanite Mods' Logo">
			<div id="light-mode-button" class="minecraft-item" onclick="toggleDarkMode();" data-mctitle="Switch to Light Mode"></div>
		</div>
		{{ content }}
		<div id="footer">Kyanite Mods • kyanitemods@gmail.com</div>
	</div>
  </body>
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="{{ site.baseurl }}/js/minecraft-tip.js"></script>
  <script src="{{ site.baseurl }}/js/dark-mode.js"></script>
</html>
