<!DOCTYPE html>
<html>
  	<head>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
		<title data-translate-string='{"translate":"global.title","with":[{"translate":"{{page.title}}"}]}'>Kyanite Mods – {{site.data.language.en[page.title]}}</title>
		<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
		<meta data-translate-content='{"translate":"global.title","with":[{"translate":"{{page.title}}"}]}' content="Kyanite Mods – {{site.data.language.en[page.title]}}" property="og:title" />
		<meta content="Kyanite Mods is a group of modders creating fun experiences for Minecraft: Java Edition!" property="og:description" />
		<meta content="https://kyanitemods.dev" property="og:url" />
		<meta content="/assets/logo.png" property="og:image" />
		<meta content="#3fbff0" data-react-helmet="true" name="theme-color" />
		
		<meta name="keywords" content="Minecraft, Java, Mods, Mod, Kyanite, KyaniteMods, Modding, Dev, Developer, Forge, Fabric">
		
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/light_mode_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/light_mode_button.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/dark_mode_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/dark_mode_button.png">
		
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/minecraft_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/youtube_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/twitter_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/email_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/discord_button_hover.png">
		<link rel="preload" as="image" href="{{ site.baseurl }}/assets/discord_button_large_hover.png">
  	</head>
  	<body>
		<div id="topbar" class="topbar">
			<div class="topbar-item"><a href="{{ site.baseurl }}/"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">A</span> <span class="topbar-text" data-translate-string='{"translate":"topbar.home"}'>Home</span></a></div>
			<div class="topbar-item mods"><div class="mod-dropdown mod-dropdown-box"><div class="mod-dropdown mod-dropdown-item"><a href="/mod/deeperdarker">Deeper and Darker<a></div></div><a href="{{ site.baseurl }}/mods"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">B</span><span class="topbar-text"> <span data-translate-string='{"translate":"topbar.mods"}'>Mods</span> <span class="topbar-icon" style="font-family: 'Minecraft Emoji';">e</span></span></a></div>
			<img src="{{ site.baseurl }}/assets/logo.png" style="text-align: center;" class="topbar-kyanite-logo" alt="Kyanite Mods' Logo"><div class="topbar-item"><a href="{{ site.baseurl }}/about"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">H</span> <span class="topbar-text" data-translate-string='{"translate":"topbar.about"}'>About</span></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/news"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">E</span> <span class="topbar-text" data-translate-string='{"translate":"topbar.news"}'>News</span></a></div>
			<div id="light-mode-button" class="minecraft-item" onclick="toggleDarkMode();" data-mctitle="Switch to Light Mode"></div>
		</div>
		<div id="topbar-small" class="topbar-small">
			<div class="topbar-item"><a class="active" href="{{ site.baseurl }}/"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">A</span></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/mods"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">B</span></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/about"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">H</span></a></div>
			<div class="topbar-item"><a href="{{ site.baseurl }}/news"><span class="topbar-icon" style="font-family: 'Minecraft Emoji';">E</span></a></div>
			<img src="{{ site.baseurl }}/assets/logo.png" class="topbar-kyanite-logo" alt="Kyanite Mods' Logo">
			<div id="light-mode-button" class="minecraft-item" onclick="toggleDarkMode();" data-mctitle="Switch to Light Mode"></div>
		</div>
		<div class="wrapper">
			{{ content }}
			<div id="footer">Kyanite Mods • kyanitemods@gmail.com</div>
		</div>
  	</body>
  	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="{{ site.baseurl }}/js/text.js"></script>
  	<script src="{{ site.baseurl }}/js/translate.js"></script>
  	<script src="{{ site.baseurl }}/js/minecraft-tip.js"></script>
  	<script src="{{ site.baseurl }}/js/dark-mode.js"></script>
	<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
	<script>
		translate.addChangeListener(() => {
			kofiWidgetOverlay.draw('nitro_dynamite18', {
				'type': 'floating-chat',
				'floating-chat.donateButton.text': translate.translateString("support_widget.title"),
				'floating-chat.donateButton.background-color': '#794bc4',
				'floating-chat.donateButton.text-color': '#fff'
			});
		});
	</script>
</html>
