---
layout: default
---

{%- if page.title -%}
	<h1>{{ page.title }}</h1>
{%- endif -%}

{%- if page.header-image -%}
	<img src="{{ page.header-image }}" class="post-image">
{%- endif -%}

<div class="card post-text">{{ page.main-text }}</div>

{%- if page.links -%}
	{%- if page.links.size > 1 -%}
		<h1>Links</h1>
	{%- else -%}
		<h1>Link</h1>
	{%- endif -%}
	{%- for item in page.links -%}
			<a href="{{ item[1] }}"><div class="minecraft-button">{{ item[0] }}</div></a><br>
	{%- endfor -%}
{%- endif -%}