---
layout: default
---

{%- if page.title -%}
	<h1 style="margin-bottom: 0;">{{ page.title }}</h1>
{%- endif -%}
<h1 style="font-size: 20px; margin-top: 0; margin-bottom: 0.67em; color: #777777; text-shadow: none;">{{ page.subtitle }}</h1>

{%- if page.header-image -%}
	<img src="{{ page.header-image }}" class="post-image">
{%- endif -%}

{%- if page.author-image or page.author -%}
	<div id="author">
{%- endif -%}
{%- if page.author-image -%}
	<img src="{{ page.author-image }}" id="author-image">
{%- endif -%}
{%- if page.author -%}
	<p id="author-text" data-translate-string='{"translate":"post.written_by","with":[{"text":"{{ page.author }}"},{"translate":"date.long","with":[{"text":"{{ page.date | date: "%d" | plus:'0' }}"},{"translate":"month.{{ page.date | date: "%m" | plus:'0' }}"},{"text":"{{ page.date | date: "%Y" | plus:'0' }}"}]}]}'></p>
{%- endif -%}
{%- if page.author-image or page.author -%}
	</div>
{%- endif -%}

<div class="card post-text">
	<div>
		{%- if page.markdown != false -%}
			{{ page.main-text | markdownify }}
		{%- else -%}
			{{ page.main-text }}
		{%- endif -%}
	</div>
</div>

{%- if page.links -%}
	{%- if page.links.size > 1 -%}
		<h1 data-translate-string='{"translate":"category.post.links"}'>Links</h1>
	{%- else -%}
		<h1 data-translate-string='{"translate":"category.post.link"}'>Link</h1>
	{%- endif -%}
	{%- for item in page.links -%}
			<a href="{{ item[1] }}"><div class="minecraft-button">{{ item[0] }}</div></a><br>
	{%- endfor -%}
{%- endif -%}

{% assign content = content | strip_newlines %}
{%- if content != "" -%}
	<div class="card post-text">
		<div>
			{{ content }}
		</div>
	</div>
{%- endif -%}