---
layout: default
---

{%- if page.title -%}
	<h1 style="margin-bottom: 0;">{{ page.title }}</h1>
{%- endif -%}
<h1 style="font-size: 20px; margin-top: 0; margin-bottom: 0.67em; color: #777777; text-shadow: none;">{{ page.subtitle }}</h1>

{%- if page.header-image -%}
	<img src="{{ page.header-image }}" class="post-image">
{%- endif -%}

{%- if page.author-image or page.author -%}
	<div id="author">
{%- endif -%}
{%- if page.author-image -%}
	<img src="{{ page.author-image }}" id="author-image">
{%- endif -%}
{%- if page.author -%}
	<p id="author-text">Written by {{ page.author }}{%- if page.show-date != false -%}&#32;on {% assign d = page.date | date: "%d" | plus:'0' %}
      {{ page.date | date: "%B" }} 
      {% case d %}
        {% when 1 or 21 or 31 %}{{ d }}st
        {% when 2 or 22 %}{{ d }}nd
        {% when 3 or 23 %}{{ d }}rd
        {% else %}{{ d }}th{% endcase %}, 
      {{ page.date | date: "%Y" }}{%- endif -%}</p>
{%- endif -%}
{%- if page.author-image or page.author -%}
	</div>
{%- endif -%}

<div class="card post-text">
	<div>
		{%- if page.markdown != false -%}
			{{ page.main-text | markdownify }}
		{%- else -%}
			{{ page.main-text }}
		{%- endif -%}
	</div>
</div>

{%- if page.links -%}
	{%- if page.links.size > 1 -%}
		<h1>Links</h1>
	{%- else -%}
		<h1>Link</h1>
	{%- endif -%}
	{%- for item in page.links -%}
			<a href="{{ item[1] }}"><div class="minecraft-button">{{ item[0] }}</div></a><br>
	{%- endfor -%}
{%- endif -%}

{% assign content = content | strip_newlines %}
{%- if content != "" -%}
	<div class="card post-text">
		<div>
			{{ content }}
		</div>
	</div>
{%- endif -%}